/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}
  /* List item */
.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: .25rem;
  padding: .5rem 0;

}

.stories-list > li:nth-child(even) {
  background-color: bisque;
  border-bottom: .5px solid rgb(189, 189, 189);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  /* margin-bottom: 1rem; */
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
  margin-left: 2.25em;
}

.star > i {
  cursor: pointer;
  padding: 0 .25rem
}

.story-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}



